<div class="ad-container" style="min-height: 90px; margin-bottom: 2rem;">
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-XXXXXXXXXXXXXXXX" data-ad-slot="XXXXXXXXXX" data-ad-format="auto" data-full-width-responsive="true"></ins>
</div>
<script is:inline>(window.adsbygoogle = window.adsbygoogle || []).push({});</script>
